apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-container
        image: 871700844971.dkr.ecr.us-east-2.amazonaws.com/devops-sample-app:latest
        ports:
        - containerPort: 3000